<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Plainst</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Typst Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.typst.typ</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PlainstDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Plain Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PlainstDocument</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>app.typst.typ</string>
			<key>UTTypeDescription</key>
			<string>Typst Document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>typ</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Plainst</string>
	<key>CFBundleIconFile</key>
	<string>Plainst</string>
	<key>CFBundleIconName</key>
	<string>Plainst</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.PoteNad.plainst</string>
	<key>CFBundleName</key>
	<string>Plainst</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 PoteNad contributors. MIT License.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSDocumentControllerClass</key>
	<string>PlainstDocumentController</string>
</dict>
</plist>
